include *.py

include saga/*.py

include saga/job/*.py
include saga/filesystem/*.py
include saga/replica/*.py

include saga/cpi/*.py
include saga/cpi/job/*.py
include saga/cpi/filesystem/*.py
include saga/cpi/replica/*.py

include saga/engine/*.py

include saga/utils/*.py
include saga/utils/job/*.py
include saga/utils/logger/*.py
include saga/utils/cmdlinewrapper/*.py

include saga/contrib/*.py

include saga/adaptors/*.py
include saga/adaptors/context/*.py
include saga/adaptors/localjob/*.py
include saga/adaptors/irods/*.py

include MANIFEST.in README.md LICENSE.md CHANGES.md

