include *.py

include saga/*.py

include saga/core/*.py

include saga/utils/*.py
include saga/utils/logger/*.py
include saga/utils/cmdlinewrapper/*.py

include MANIFEST.in README.md LICENSE.md CHANGES.md
